html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

/*formatting for fading imagery*/
.hover01{
    margin-top: 12em;
    margin-bottom: 12em;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    width: 100%;

}

/*makes the picture circular*/
.hover01 figure img {
    border-radius: 50%;
}

/*effect upon hovering*/
.hover01 figure:hover img {
    transform: scale(1.1);
    transition: 0.3s;
}

/*Adjustment to the respective media screen sizes*/
@media screen and (max-width: 950px){
  
    .hover01 figure img{
        width:100%
        }  

}
/*formatting for storymap*/
.view-larger-map {
    display: block;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 24px;
    background-color: black;
    text-align: center;
}

.view-larger-map a {
    color: gainsboro;
    text-decoration: none;
    letter-spacing: 1px;
    font: 14px Helvetica;
    position: relative;
    top: 2.5px;
}

.view-larger-map a:hover {
    color: gold;
}

/* CSS for dark mode toggle */

/* using webkit as a pseudo element to change the colours of the scrollbar in dark mode */
.dark-mode ::-webkit-scrollbar {
    width: auto;
}
.dark-mode ::-webkit-scrollbar-track {
    background: #222222; 
}
.dark-mode ::-webkit-scrollbar-thumb {
    background: #555555; 
}
.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #444444; 
}

.dark-mode {
    background-color: black;
    color: white;
}

span.dark-mode {
    color:white;
}
