html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

/*formatting for fading imagery*/
.hover01{
    margin-top: 12em;
    margin-bottom: 12em;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    width: 100%;

}

.hover01 figure img {
    /*border-radius: 100%;*/
    clip-path: circle(50%);
}

.hover01 figure:hover img {
    /*filter:blur(2px);*/
    transform: scale(1.2);
    transition: 0.3s;
}

/*Adjustment to the respective media screen sizes*/
@media screen and (max-width: 950px){
  
    .hover01 figure img{
        width:100%
        }  

}