body {
    background: url(/img/bg.png);
}

.w {
    width: 940px;
    margin: 0 auto;
}



/* individual page begins here */
.header{
    background-color: cornsilk;
    padding-top:200px;
    padding-bottom:100px;
    
}
.header h1{
    font:bold 60px Georgia;
    padding-bottom:10px;
}
.header h2{
    font:20px;

}

/*three titles in intro*/
.intro h1{
    font:bold 40px Helvetica;
    padding-top:120px;
    padding-bottom: 10px;
}
.intro p1{
    font:15px Helvetica;
}


.content h1{
    /*set text center*/
    text-align: left;
    font:bold 40px Helvetica;
    padding-top:100px;
    margin-bottom: 40px;
}

/*three titles in content*/
.content .t1 ,.content .t2 ,.content .t3{
    /* add float style */
    float:left;
    width:300px;
    height: 400px;
    background-color: white;
    
}
.content .t2{
    margin:0 20px;
}

.content h2{
    font: 21px Georgia;
}
.content p{
    font: 15px/1.5 Helvetica;
}
.content img{
    width:220px;
    height: 200px;
    padding-top:30px; 
}
/*add the hover style to pics*/
.content img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

/*add icons' style*/
.icons{
    list-style: none;
    padding-left: 500px;
    padding-bottom: 200px;
}
.icons li{
    text-align: center;
    position: relative;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 0 10px;
    cursor:pointer;
}
.icons li:before{
    content:'';
    position:absolute;
    height: 100%;
    width:100%;
    top: 0;
    left:0;
    z-index: -1;
    border-radius: 10%;
    background: linear-gradient(45deg, #1a2126, #868d93);
    transition: all 0.3s ease-in;
}
.icons li:hover:before{
    transform: rotate(360deg);
    border-radius: 100%;
}
.icons li a span{
    color: #fff;
    line-height: 40px;
    font-size: 15px;
    transition: all 0.3s ease-out;

}
.icons li:hover a span{
    transform: scale(1.9);
    
}



/* this is css style by yujun */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0;
    margin: 0 auto;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
body {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
}


/*clearfix is to fix the float problem*/
.clearfix:before,
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}
