/*this "w" is a general style, we can add a "w" after the class name in html to form the different labels*/
.w {
    width: 940px;
    margin: 0 auto;
}

/* set the background color and padding for header  */
.header{
    background-color: cornsilk;
    padding-top:200px;
    padding-bottom:100px;
}

.header h1{
    font:bold 60px Georgia;
    padding-bottom:10px;
}
.header h2{
    font:20px;
}

/*three titles in intro*/
.intro h1{
    font:bold 40px Helvetica;
    padding-top:120px;
    padding-bottom: 20px;
}
.intro p1{
    font:15px/1.5 Helvetica;
}


.content h1{
    /*set text center*/
    text-align: left;
    font:bold 40px Helvetica;
    padding-top:100px;
    margin-bottom: 20px;
}

/*three titles in content*/
.content .t1 ,.content .t2 ,.content .t3{
    /* add float style */
    float:left;
    width:300px;
    height:300px;
    background-color: white;
}

.content .t2{
    margin:0 20px;
}

.content h2{
    font: 21px Helvetica;
}

.content .imgDiv{
    /* add float style */
    float:left;
    width:300px;
    height:400px;
    background-color: white;   
}
.content img{
    width:220px;
    height: 200px;
    padding-top:20px; 
}
/*add the hover style to pics*/
.content img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

/*add icons' style*/
.icons{
    list-style: none;
    padding-left: 500px;
	padding-top: 100px;
    padding-bottom: 200px;
}
.icons li{
    text-align: center;
    position: relative;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 0 10px;
    cursor:pointer;
}
.icons li:before{
    content:'';
    position:absolute;
    height: 100%;
    width:100%;
    top: 0;
    left:0;
    z-index: -1;
    border-radius: 10%;
    background: linear-gradient(45deg, #1a2126, #868d93);
    transition: all 0.3s ease-in;
}
.icons li:hover:before{
    transform: rotate(360deg);
    border-radius: 100%;
}
.icons li a span{
    color: #fff;
    line-height: 40px;
    font-size: 15px;
    transition: all 0.3s ease-out;

}
.icons li:hover a span{
    transform: scale(1.9);
    
}

/* CSS for dark mode toggle */

/* using webkit as a pseudo element to change the colours of the scrollbar in dark mode */
/* width */
.dark-mode ::-webkit-scrollbar {
  width: auto;
}

/* Track */
.dark-mode ::-webkit-scrollbar-track {
  background: #222222; 
}
 
/* Handle */
.dark-mode ::-webkit-scrollbar-thumb {
  background: #555555; 
}

/* Handle on hover */
.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: #444444; 
}

.dark-mode {
    background-color: black;
    color:white;
}

.imgDiv.dark-mode {
    background-color: black;
}

.t1.dark-mode, .t2.dark-mode, .t3.dark-mode {
    background-color: black;
    color: white;
}

.header.dark-mode {
    background-color: purple;
}

