body {
    overflow-x: hidden;
}

/* Banner above navigation bar */
.banner {
    position: fixed;
    background-image: url("banner-image.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80px;
    overflow-x: hidden;
    z-index: 10;\
    top: 0;
}

.banner-caption {
    position: fixed;
    top: 25px;
    height: 75px;
    width: 100%;
    text-align: center;
    color: #000;
}

.banner-caption span.border {
    background-color: transparent;
    color: gainsboro;
    font: 30px Helvetica;
    letter-spacing: 10px;
}

/* Navigation bar */
.navbar {
    background-color: #000;
    position: fixed; /* Set the navbar to fixed position */
    top: 80px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0;
    z-index: 5;
    transition: top 0.8s;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: normal;
    font: 14px Helvetica, sans-serif;
}

.dropdown {
  float: left;
  overflow: hidden;
  font: 14px Helvetica;
}

.dropdown .dropbtn {  
  border: none;
  outline: none;
  color: gainsboro;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  line-height: normal;
}

.dropdown button {
    font: 14px Helvetica;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gold;
  color:black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: gainsboro;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font: 14px Helvetica, sans-serif;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar.dark-mode{
    border-bottom: 2px solid gold;
}

.dropdown-content.dark-mode {
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    border-bottom: 2px solid gold;
}

.switch-text {
    float: right;
    display: block;
    color: gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: normal;
    font: 14px Helvetica, sans-serif;
}

.overlay-text {
    position: absolute;
    right: 40px;
    float: right;
    display: block;
    color: gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: normal;
    font: 14px Helvetica, sans-serif;
    visibility: hidden;
}

.switch-text.dark-mode {
    visibility: hidden;
}

.overlay-text.dark-mode {
    visibility: visible;
}

.switch {
    position: relative;
    display: inline-block;
    float:right;
    top: 11px;
    right: 10px;
    width: 39px;
    height: 23px;
    z-index: 10;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d3d3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: grey;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    background-color: white;
}