/*this "w" is a general style, we can add a "w" after the class name in html to form the different labels*/
.w {
    width: 940px;
    margin: 0 auto;
}

/* set the background color and padding for header  */
.header{
    background-color: cornsilk;
    padding-top:200px;
    padding-bottom:100px;
}

/*set the font and padding of text in header h1*/
.header h1{
    font:bold 60px Georgia;
    padding-bottom:10px;
}

/*set the font of text in header h2*/
.header h2{
    font:20px;
}

/* set the font and padding of three titles in introducation*/
.intro h1{
    font:bold 40px Helvetica;
    padding-top:120px;
    padding-bottom: 20px;
}

/* set the font of detailed introducation*/
.intro p1{
    font:15px/1.5 Helvetica;
}

/* set the font and padding of text in content h1*/
.content h1{
    /*set text center*/
    text-align: left;
    font:bold 40px Helvetica;
    padding-top:60px;
    margin-bottom: 20px;
}

/*set three titles' float style in content*/
.content .t1 ,.content .t2 ,.content .t3{
    /* add float style */
    float:left;
    width:300px;
    height:300px;
    background-color: white;
}

/* set the font of text in content t2*/
.content .t2{
    margin:0 20px;
}

/* set the font of text in content h2*/
.content h2{
    font: 21px Helvetica;
}

/* set the style in content imgdiv*/
.content .imgDiv{
    /* add float style */
    float:left;
    width:300px;
    height:400px;
    background-color: white;   
}

/* set the size and padding of images in content*/
.content img{
    width:300px;
    padding-top:20px; 
}

/*add the hover style to pictures*/
.content img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/*set the icons tag style*/
.icons{
    list-style: none;
    padding-left: 600px;
	padding-top: 100px;
    padding-bottom: 150px;
}

/*set the style of logos*/
.icons li{
    text-align: center;
    position: relative;
    height: 40px;
    width: 40px;
    display: inline-block; /*display list items horizontally instead of vertically*/
    margin: 0 10px;
    cursor:pointer;
}

/*use 'before' to create a suqare behind a logo*/
.icons li:before{
    content:'';
    position:absolute;
    height: 100%;
    width:100%;
    top: 0;
    left:0;
    z-index: -1;
    border-radius: 10%;
    background: linear-gradient(45deg, #1a2126, #868d93); /*add a gradient color */
    transition: all 0.3s ease-in;/*set the transition effect*/
}

/*add rotate effects that will be changing before hovering*/
.icons li:hover:before{
    transform: rotate(360deg);
    border-radius: 100%;
}

/* set the color, location, size and transition effects for logos*/
.icons li a span{
    color: #fff;
    line-height: 40px;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

/*add effects that when hovering over logos*/
.icons li:hover a span{
    transform: scale(1.6);  
}


/* CSS for dark mode toggle */

/* using webkit as a pseudo element to change the colours of the scrollbar in dark mode */
.dark-mode ::-webkit-scrollbar {
    width: auto;
}
.dark-mode ::-webkit-scrollbar-track {
    background: #222222; 
}
.dark-mode ::-webkit-scrollbar-thumb {
    background: #555555; 
}
.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #444444; 
}

.dark-mode {
    background-color: black;
    color:white;
}

.imgDiv.dark-mode {
    background-color: black;
}

.t1.dark-mode, .t2.dark-mode, .t3.dark-mode {
    background-color: black;
    color: white;
}

.header.dark-mode {
    background-color: purple;
}

